div{
    background-color: #111;
    padding: 10px;
    align-items: center;
}

label {
    display: block;
    margin-bottom: 7px;
    font-size: 1.2rem;
    color:white;

}

input{
    width: 90%;
    height: 45px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    background-color: paleturquoise;
    font-size: 1.2rem;

    padding-left: 15px;
}



.Submit{
    margin-top: 30px;
    text-align: center;

}

.Submit button{
    font-weight: 800;
    font-size: 1.3rem;

    padding: 5px 50px;
    color:black;
    background: -webkit-linear-gradient(to left, #21d4fd , #d721ff);
    background: -o-linear-gradient(to left, #21d4fd , #d721ff);
    background: -moz-linear-gradient(to left, #21d4fd , #d721ff);
    background: linear-gradient(to left, #21d4fd , #d721ff);

    border: 0;
    border-radius: 10px;

    cursor: pointer;

}
