.cardPost{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fields{
    display: flex;
    flex-direction: column;
}
.btnPost{
    display: flex;
    justify-content: center;
}